# Folders to ignore
comparison_phenotype/
old_scripts/
output/
samples/
.ipynb_checkpoints/
.snakemake/

# Files to ignore
Snakefile_includes_MOST
.Rhistory
config/sample_sheet.yaml
config/variables.yaml
config/profile
envs/most.yaml

